body{
    background-color: lightcoral;
}
h1{
    color:lightcoral;
    background-color: cyan;
}
#show_sketch{
    float:right;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name: sketch;
    animation-duration: 4s;
    margin-top: 85px;
    animation-iteration-count: infinite;
}
@keyframes sketch{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px red;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}